# Ignore Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
app/__pycache__/
app/routes/__pycache__/

# SQLite DB (if you want to ignore it)
*.db

# Environment and config
.env
.env.*

# VS Code and other IDE settings
.vscode/
.idea/# Ignore Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# SQLite DB (if you want to ignore it)
*.db

# Environment and config
.env
.env.*

# VS Code and other IDE settings
.vscode/
.idea/

# node modules
node_modules
frontend/node_modules